body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0 auto;
  padding: 10px 200px;
  line-height: 1.5rem;
  background-image: url(../../images/backgrounds/INTPRN_pattern_as_widescreen_banner_blank_c_s.png);
}
@media (max-width: 35em) {
  body {
    padding: 10px 20px;

  }
}

img {
  width: 100%;
}
img.emoji {
  width: auto;
}

header {
  text-align:center;
}

header img {
    max-width: 300px;
    text-align: center;
}
main {
  padding: 50px 100px;
  margin: 20px 100px;
  background-color: white;
}
@media (max-width: 35em) {
  main {
    padding: 10px 10px;
    margin: 50px 20px;
  }
}
footer {
  padding: 50px 100px;
  margin: 20px 100px;
  background-color: white;
}
@media (max-width: 35em) {
  footer {
    padding: 10px 10px;
    margin: 50px 20px;
  }
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  background-color: white;
}
h1 {
  font-size: 3.5rem;
  font-weight: 800;
   line-height: 3rem;
}
h2, h3, h4 {
  font-size: 2.2rem;
  line-height: 2rem;
}
p {
  background-color: white;
}
a {
  color: black;
}